bitarray==3.8.0
bitstring==4.3.1
cffi==2.0.0
click==8.3.1
colorama==0.4.6
coverage==7.13.4
cryptography==46.0.5
esptool==5.2.0
iniconfig==2.3.0
intelhex==2.3.0
librt==0.8.1
markdown-it-py==4.0.0
mdurl==0.1.2
mpremote==1.27.0
mypy==1.19.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.2
pluggy==1.6.0
pycparser==3.0
Pygments==2.19.2
pyserial==3.5
pytest==9.0.2
pytest-cov==7.0.0
PyYAML==6.0.3
reedsolo==1.7.0
rich==14.3.3
rich-click==1.9.7
ruff==0.15.4
typing_extensions==4.15.0
